@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
    margin: 2%;
}
body {
    margin: auto;
    max-width: 860px;
    /* Lägg till deklarationer här */
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}
*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
.hwrap {
    display: flex;              /* Gör det till en flex-container */
    flex-wrap: wrap;            /* Tillåt radbrytning om det behövs */
    align-items: center;        /* Centrera vertikalt */
    justify-content: center;    /* Centrera horisontellt */
}

.hwrap > a {
    margin-right: 30px;         /* Luft mellan bild och rubrik */
}
header {
    /* text-align: center; */
}
/*
==================================================================================
Page footer rules
==================================================================================
*/
footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
}

/* TODO Avsnitt 5.2 */

/*
==================================================================================
Main site navigation
==================================================================================
*/

/* Alla regler för .menu med relaterade element */

.menu {
    margin: 1em 0;
    padding: 0;
}
/* Tar bort punktlistans prickar och mellanrum mellan <li> */
.menu li {
    margin: 0 0 1rem;
    list-style: none;
}
/* Extra luft under varje <li> och <h2> i menyn */
/* Vi använder > för att bara styla element direkt inuti .menu */
.menu > li,
.menu > h2 {
    margin: 0 0 1rem;
}

/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */

.menu h2 {
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%;
    padding: 0.4em;
    background: linear-gradient(to bottom, #ffffff, #9dd1b4);
    text-align: center;
}

.menu h2 a {
    text-decoration: none;
    color: #000;            /* Svart som standard */
}

.menu h2 a:hover,
.menu h2 a:focus {
    color: #933;            /* Brunröd vid muspekning och tangentfokus */
    text-decoration: underline;
}

.menu h2 a:active {
    color: #c00;            /* Röd vid klick */
}

/*
==================================================================================
Start page rules
==================================================================================
*/

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8 */
.startpage h1 {
    font-size: 500%;        /* Stor rubrik på startsidan */
    font-family: Georgia, serif;
    line-height: 1.2;
}

.startpage h1::first-letter {
    color: #00AF54;
}

.startpage .tagline {
font-size: 120%;                            /* Gör sloganen lite större */
    padding: 0.5em;                         /* Luft runt texten inuti rutan */
    text-align: center;
    border-bottom: 3px double #00AF54;    /* Dubbelgrön linje under texten */
    border-top: 3px double #00AF54;
    margin: 1em 0;                          /* Marginal ovanför (1em), ingen nedanför (0) */
    flex: 0 0 100%;                         /* Gör att tagline tar upp en hel rad i flexbox */
}
/* Här börjar flexbox-layouten */
.startpage {
    display: flex;                  /* Gör body till en flex-container */
    flex-wrap: wrap;                /* Tillåt radbrytning vid mindre skärmar */
    justify-content: space-between; /* Fördela utrymmet jämnt mellan element */
}

.startpage header,
.startpage footer {
    flex: 0 0 100%;
}

.startpage section {
    flex: 0 0 22%;
}

/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */

/* Gör hela sidans kropp till en flex-container */
body.subpage {
    display: flex;      /* Aktiverar flexbox */
    flex-wrap: wrap;    /* Tillåt att elementen radbryts vid behov */
    justify-content: space-between; /* Skapar jämnt mellanrum mellan elementen */
}
/* Justera logotypens storlek för undersidor */
.subpage.logo {
    max-width: 146px;   /* Gör logotypen smalare (mindre än på startsidan) */
    height: 123px;      /* Anpassad höjd för att matcha bildförhållandet */
}

/* Gör rubriken på undersidor mindre än på startsidan */
.subpage h1 {
    font-size: 2.6rem; /* Motsvarar ungefär 42px (1rem = 16 px) */
}

/* Gör rubriken på undersidor mindre än på startsidan */
h1 > span {
    color: #a62f00;  /* Mörkröd färg för andra delen av rubriken */
}
/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }

    .startpage h1 {
        font-size: 250%; /* Minska rubriken på små skärmar */
    }

    .startpage section {
        flex: 0 0 100%;     /* Gör att varje sektion tar full bredd och staplas. */
        margin-bottom: 1em; /* Luft mellan sektionerna. */
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

